.jumbotron > p {
    color: #ffffff;
}

h1 {
    color: #ffffff;
}

.jumb {

    background-image: url(../images/HeaderBackground.jpg);
    background-size: cover;
    
}

.overlay {
    color: #1e2022;
}



.jumb > img {
    opacity: .5;
}

.nav-link {
    color: #f0f5f9;
}

.header {
    text-align: center;
}

li {
    display: block;
}

.navbar {
    height: 3rem;
}

.profile-pic {
    height: 200px;
    border: solid;
    border-color: #f0f5f9;
    margin-bottom: 20px;
    margin-top: 20px;
}

html, body {
    background-color: #f0f5f9;
    height: 100%;
}

.square > button {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    height: inherit;
    width: inherit;
    border: none;
}

.square-light {
    background-color: rgb(236, 236, 236);

}

.square-dark {
    background-color: rgb(94, 127, 160);
}

.flex-container {
    display: flex;
    justify-content: center;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
  
.flex-container > div {
    background-color: #f1f1f1;
    height: 75px;
    width: 75px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.jumbotron {
    background-color: #1e2022;
    padding-top: 1rem;
    padding-bottom: 1rem;
}