/*
 * Filename: stylesheet.css
 * Author: James McCullough
 * Date: 6/25/20
 */

html, body {
    height: 100%;
    background-color: #202C39;
}

h2 {
    font-family: 'Baloo Thambi 2';
}

.nav-item-div {
    display: inline-block;
    height: 1.5em;
    width: 8ch;
    text-align: center;
    border-bottom: solid;
    border-bottom-width: .5px;
    border-color: #F29559;
}

.nav-div {
    height: 5em;
    padding: 5px 30px 0px 0px;
    text-align: right;
}

a.nav-item {
    color: white;
    font-size: 11px;
}

a.nav-item-active {
    color: #F29559;
}

a.nav-item:hover {
    color: #F29559;
    text-decoration: none;
}

.page-header {
    color: #ffffff;
    font-family: 'Rock Salt';
    font-size: 36px;
    text-align: center;
    text-decoration: underline;
    padding-top: 20px;
}

div.jumbo-row {
    text-align: center;
}

div.jumbo {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: solid;
    border-width: 1px;
    border-radius: 15px;
    border-color: #ffffff;
    background-color: #283845;
    color: #ffffff;
    padding: 15px;
    margin: 25px auto 15px auto;
}

.profile-pic {
    height: 200px;
    border: solid;
    border-color: #f0f5f9;
}

div.namecard {
    display: inline-block;
    border: solid;
    border-radius: 15px;
    border-color: #ffffff;
    padding: 25px;
    text-align: center;
    margin: 10px;
}

div.namecard-par-div {
    text-align: center;
    width: inherit;
}


div.namecard-pic {
    display: inline-block;
}

div.namecard-tag {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 0px 0px 0px 20px;;
}

h2.namecard-header {
    font-size: 55px;
    font-weight: 800;
}

span.orange {
    color: #f29559;
}

span.blue {
    color: #bce7fd;
}

p.namecard-par {
    width: 300px;
    margin: 0 auto;
}

div.hire-me {
    display: flex;
    text-align: center;
}

div.hire-me-header {
    display: inline-block;
    border: solid;
    border-width: 1px;
    border-radius: 15px;
    border-color: #ffffff;
    padding: 25px;
    margin: auto 10px auto 15px;
}

address {
    color: #c492b1;
}

div.project-container {
    text-align: center;
}

div.project-wrapper {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #283845;
    border: solid;
    border-width: 1px;
    border-radius: 15px;
    border-color: #ffffff;
    padding: 10px;
    margin: 10px 5% 0px 5%;
    max-width: 1555px;
}

div.project {
    background-size: cover;
    height: 500px;
    width: 500px;
    border: solid;
    border-width: 1px;
    border-color: #ffffff;
    margin: 5px 5px 20px 5px;
}

div.project-overlay {
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .25s ease;
    background-color: #202c39;
}

a.project-link {
    color: #ffffff;
}

a.project-link:hover .project-overlay {
    opacity: .85;
}

a.project-link:hover {
    text-decoration: none;
}

p.overlay-par {
    width: 300px;
    margin: 0 auto;
}